{% extends 'base.html' %}
{% block content %}

	<p> Select <b> Department </b> </p>

	<p> {{ Faculty.Department }} </p>
	<p>  <a href= '/faculty/cse/'> CSE </a> </p>
	<p>  <a href= '/faculty/it/'> IT </a> </p>
	<p>  <a href= '/faculty/eee/'> EEE </a> </p>
	<p>  <a href= '/faculty/ece/'> ECE </a> </p>
	<p>  <a href= '/faculty/mec/'> MEC </a> </p>
	<p>  <a href= '/faculty/civ/'> CIV </a> </p>
	<p>  <a href= '/faculty/bs/'> BS </a> </p>
	<p>  <a href= '/faculty/mba/'> MBA </a> </p>


{% endblock %}
