.page {
	width: auto;
	height: 150px;
	border-style: groove;

}

.header {
	width: auto;
	height: 100px;
	border-style: groove;
	background: url('vishnu.png');
	background-repeat: no-repeat;
}

.link {
	width: auto;
	height: 30px;
	margin-top: 5px;
	border-style: groove;
}
.link a {
	text-decoration: none;
	font-size: 25px;
}

.link a:hover {
	background-color: rgb(245,246,251);
	color: rgb(12,100,198);
}